AUTO_DOWNLOAD_GROUPS=
AUTO_DOWNLOAD_PRIVATE=
AUTO_DOWNLOAD_SAVED_MESSAGES=
CHROMIUM_PATH=
COMMAND_PREFIX=
DOWNLOAD_TIMEOUT_SECONDS=
FFMPEG_PATH=
LOG_DIR=
MAX_CONCURRENT_JOBS=
OUTPUT_DIR=
SESSION_FILE_PATH=
STREAMLINK_PATH=
TARGET_CHANNEL_ID=
TELEGRAM_API_HASH=
TELEGRAM_API_ID=
TELEGRAM_SESSION=
TEMP_DIR=
YTDLP_PATH=